<html>
<head>
	<title>Party Maneger |home </title>
</head>
<body>
	<h1> Party Manager</h1>
	<p>
		this is the home page for the party manager
	</p>

<%= link_to "sign up now", signup_path, :class => "signup_bottom round" %>

</body>
</html>