<footer>

<%= image_tag("logo.png", :alt => "party manager", :class => "round") %>

<nav class ="round">
<ul>

<li><%= link_to "about", about_path %> </li>
<li><%= link_to "contact", contact_path %> </li>

</ul>

</nav>
</footer>