<header>

<%= image_tag("logo.png", :alt => "party manager", :class => "round")%>

<nav class ="round">
<ul>
<li> <%= link_to "home", root_path %></li>
<li> <%= link_to "help", help_path %></li>
<li> <%= link_to "sign in", '#' %></li>

</ul>
</nav>
</header>